@img:          "../img/icon_filetype.png";
.icon_file{
	width:20px;
	height:20px;
	background: url(@img) 0 -180px no-repeat;
}
.icon_css{
	background-position: 0 0;
}
.icon_jpg,.icon_jpeg{
	background-position: 0 -30px;
}
.icon_png{
	background-position: 0 -60px;
}
.icon_gif{
	background-position: 0 -90px;
}
.icon_htm,.icon_html{
	background-position: 0 -120px;
}
.icon_js{
	background-position: 0 -150px;
}