@import "_vars.less";
@import "_mixins.less";
@import "_jquery.fanmenu.less";
@import "_loader.less";
@import "_icon_filetype.less";

.fm_wrap{
	.size(145px,130px);
	bottom:32px;
	.fm_list{
		bottom:35px;
	}
}

.fbox_sidebar{
	>.nav_project{
		.boxSizing(border-box);
		margin-right: 0;
		margin-bottom:0;
		.size(100%,100%);
	}
}

.project_main{
	-webkit-user-select: auto;
	.project_panes{
		height:100%;
	}
	.tab-pane{
		padding:15px;
	}
}
.project_ext{
	position: relative;
	.ext_box{
		z-index: 1;
	}
	.close{
		position: absolute;
		top:2px;
		right:2px;
		z-index: 2;
		font-size: 1.5em;
	}
}
.nav_project{
	.navitem_projActs{
		display: none;
		position: absolute;
		top:2px;
		right:2px;
	}
	li{
		position: relative;
		&:hover{
			.navitem_projActs{
				display: block;
			}
		}
	}
}
.list_file{
	li{
		float:left;
		display: inline;
		position: relative;
		z-index: 1;
		margin-right: 15px;
		margin-bottom: 10px;
		padding:5px;
		border:1px solid #ddd;
		width: 210px;
		background: #eee;
		//.transition(all .2s ease-out);
		&:hover{
			z-index: 2;
			.scale(1.2);
			a{
				color:@textEMColor;
			}
			background: #333;
			border-color: #666;
		}
		&.file_changing{
			border-bottom-color:red;
		}
	}
	a{
		color:#333;
	}
	.file_meta{
		color:#999;
	}
	.item_file{
		position: relative;
		background-size: cover;
		text-align: center;
	}
	.com_bg{
		position: absolute;
		z-index: 1;
		top:0;
		left:0;
		right:0;
		bottom: 0;
		background: #fff;
		opacity: 0.95;
	}
	.com_bd{
		position: relative;
		z-index: 2;
	}
	.file_bd{
		.transition(all .2s ease-out);
		height:80px;
	}
	.file_ft{
		position: absolute;
		z-index: 2;
		bottom:0;
		left:0;
		right:0;
	}
	.item_img{
		.file_bd{
			opacity: 0;
		}
		&:hover{
			.file_bd{
				opacity: 1;
			}
		}
	}
}

.mod_status .tip_project{
	left: 200px;
}

//ftp_upload
//===============
.ftp_upload{
	.panel_bdA{
		overflow: hidden;
	}
	.ftpupd_sec{
		position: absolute;
		left:10px;
		right:0;
	}
	.ftpupd_hd{
		top:0;
		height:24px;
		overflow: hidden;
	}
	.ftpupd_bd{
		background: url(../img/cloud_upload.png) center center no-repeat;
		top:34px;
		bottom:0;
		overflow: auto;
	}

	&.dragover{
		background-color: #ffffc2;
	}
}
.flist_upload{
	position: relative;
	z-index: 1;
	.file_ok{
		color:green;
	}
	.file_err{
		color:red;
	}
}
.ftpupd_progress{
	display: none;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	height:20px;
	.borderRadius(3px);
	background: #eee;
	.progress_bd{
		position: relative;
		z-index: 2;
		text-align: center;
	}
	.progress_bg{
		position: absolute;
		z-index: 1;
		top:0;
		left:0;
		height: 20px;
		width:0px;
		overflow: hidden;
		background: #02acdd;
		.transition();
	}
}